

<p>Reviews: </p>
<ol>
  <%@reviews.each do |review| %>
  <li>
    <%= review.reviewer.full_name %>  gives a rating of <%= review.rating %>says: <em><%= review.body %></em>
  </li>
  <% end %>
</ol>
